<div class="card">
  <%= link_to image_tag(blog.image, class: :card_img ), blog_path(blog.id)%>
  <div class="card_body">
    <%= link_to blog.title, blog_path(blog.id), class: :card_title%>
    <p class="card_summary">
      <%= blog.catch %>
    </p>
    <%= link_to blog.user.name, user_path(blog.user.id), class: :card_user %>
  </div>
</div>