<div class="main">
  <div class="blog_inner">
    <% if user_signed_in? %>
      <%= link_to "新規投稿", new_blog_path, class: :new_blog_btn %>
    <% end %>
  </div>
  <div class="card_wrapper">
      <%= render partial: 'blog', collection: @blogs %>
  </div>
</div>