// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// コメント

.comment_area{
    height: 100px;
    width: 600px;
    display: block;
    margin: 100px auto 30px;
}

.comment_submit{
    height: 40px;
    width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgb(232, 255, 195);
}