/* リセットCSS */

* {
    box-sizing: border-box;
}
  
html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}
  
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}
  
li {
  list-style: none;
}
  
img {
  max-width: 100%;
  vertical-align: bottom;
}
  
a {
  text-decoration: none;
  color: #3b4043;
}


/* ヘッダー */

.header{
  background-color: white;
  padding: 20px 0;
  margin-bottom: 50px;
}

.inner{
  width: 1300px;
  margin: 0 auto;
}

.nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 30px;
}

.logo{
  width: 200px;
}

.nav_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  margin-left:  20px;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 2px rgb(140, 250, 140) solid;
  transition: 0.4s ease;
  border-radius: 4px;
}
.nav_btn:hover{
  color: black;
  background: rgb(140, 250, 140);
  border-radius: 4px;
}