<div class="memo_content">
  <div class="point_area">
    <div class="content_title">要点</div>
    <p class="memo_content_text">
      <%# <%= safe_join(@memos.point.split("\n"),tag(:br)) %>
    </p>
  </div>
  <div class="text_area">
    <div class="content_title">メモ</div>
    <p class="memo_content_text">
      <%# <%= safe_join(@memos.text.split("\n"),tag(:br)) %>
    </p>
  </div>
</div>