<div class="memo_content">
  <div class="point_area">
    <div class="content_title">要点</div>
    <% @memos.each do |memo| %>
      <p class="memo_content_text">
        <%= safe_join(memo.point.split("\n"),tag(:br)) %>
      </p>
    <% end %>
  </div>
  <div class="text_area">
    <div class="content_title">メモ</div>
    <% @memos.each do |memo| %>
      <p class="memo_content_text">
        <%= safe_join(memo.text.split("\n"),tag(:br)) %>
      </p>
    <% end %>
  </div>
</div>