<div class="main">
  <%= link_to "戻る", 'javascript:history.back()', class: :blog_edit_back %>
  <div class="inner">
    <div class="form_wrapper">
      <h2 class="">新規メモを追加</h2>
        <%= render partial: "form", locals: { memo: @memo } %>
    </div>
  </div>
</div>